{% extends 'ExpertsDashboard.html' %}
{% block body %}

<div class="row align-items-center d-flex  justify-content-center">
    <div class="col-12 mb-4">
        <div class="card border-light shadow-sm components-section align-items-center d-flex  justify-content-center">
            <div class="card-body align-items-center d-flex justify-content-center">
                <div class="row mb-4">
                    <div class="col-lg-12 col-sm-16">
                        
                        <h3 class="h3 text-center">Check Similar Questions</h3>
                    </div>
                    <center>
                        <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_ihsy8p2a.json"
                            background="transparent" speed="1" style="width: 400px; height: 300px;" loop autoplay>
                        </lottie-player>
                    </center>


                    <div class="card-body">
                        <form action="/check-similar-questions" method="POST">
                            {% csrf_token %}
                            <div class="mb-4">

                                <div class="form-group">
                                    <label for="project-name">Select Subject:</label>
                                    <select name="s_id" class="custom-select my-1 mr-sm-2" id="b_id">
                                        <option value="0" selected>Select</option>
                                        {% for b in msg1 %}
                                        <option value="{{b.id}}">{{b.s_name.upper}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="project-name">Select Topic:</label>
                                    <select name="topic_id" class="custom-select my-1 mr-sm-2" id="b_id">
                                        <option value="0" selected>Select Topic</option>
                                        {% for b in msg2 %}
                                        <option value="{{b.id}}">{{b.t_name.upper}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <input type="submit" class="btn btn-primary" value="Check Similar Questions">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}